/* Fontes */
.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .suse-regular {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .content {
    padding: 80px 20px 20px 20px; /* Ajusta o padding-top para evitar que o conteúdo fique sob a navbar */
  }
  
  /* Estilo Global */
  body {
    font-family: 'Suse';
    height: 100vh;
    margin: 0;
    /* background: radial-gradient(#313131, #141414); */
    background: radial-gradient(#292929, #000000);
    padding-top: 50px; /* Espaço para a navbar */
    box-sizing: border-box;
  }
  
  /* Estilo para o item 1: Autenticação */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px); /* Subtrai a altura da navbar */
    width: 100%;
    box-sizing: border-box; /* Inclui padding e border no tamanho total */
  }
  
  .login-box {
    background-color: #474747;
    color: white;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 0 12px #000000;
    /* border: 2px solid #858585; */
    width: 300px;
    max-width: 100%;
    text-align: center;
    box-sizing: border-box; /* Inclui padding e border no tamanho total */
    font-size: 15px;
  }
  
  .img-bat-logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  input,
  select {
    color: white;
    width: 100%;
    padding: 10px;
    border: 1px solid #969696;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #2e2e2e;
  }
  
  .button-entrar {
    width: 100%;
    padding: 10px;
    background-color: #ffe70f;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button-entrar:hover {
    background-color: #dbc70e;
  }
  
  .forgot-password {
    margin-top: 10px;
  }
  
  .forgot-password a {
    color: #ffffff;
    /* text-decoration: none; */
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }

  .sucess-login{
    color: rgb(80, 192, 53);
    margin-top: 10px;
  }
  
